@{ 
    Layout = "~/Views/_StudentLayout.cshtml";
}
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="card text-dark font-weight-bold bg-light o-hidden h-100">
                    <div class="card-header">
                        Ders programı
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Saat</th>
                                        <th scope="col">Pazartesi</th>
                                        <th scope="col">Salı</th>
                                        <th scope="col">Çarşamba</th>
                                        <th scope="col">Perşembe</th>
                                        <th scope="col">Cuma</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">08.30-11.30</th>
                                        <td>Matematik-1</td>
                                        <td>Bilgisayar müh. giriş</td>
                                        <td>Fizik-1</td>
                                        <td>Algortima</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12.00-14.30</th>
                                        <td>Matematik-1</td>
                                        <td>Bilgisayar müh. giriş</td>
                                        <td>Fizik-1</td>
                                        <td>Algortima</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15.00-17.30</th>
                                        <td>Matematik-1</td>
                                        <td>Bilgisayar müh. giriş</td>
                                        <td>Fizik-1</td>
                                        <td>Algortima</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">

                        <div class="mr-5">Hava durumu</div>
                        <img src="http://www.mgm.gov.tr/sunum/sondurum-show-2.aspx?m=DUZCE&rC=111&rZ=fff" style="width:90%; height:90%;" alt="ANKARA" />
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="https://www.mgm.gov.tr/?il=D%C3%BCzce" target="_blank">
                        <span class="float-left">Detaylı görüntüle</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">

                        </div>
                        <div class="mr-5">Son işlemler</div>


                    </div>

                    </a>
                </div>
            </div>

        </div>
        <!-- /Icon Cards-->
    </div>