
@{
    Layout = "~/Views/_StudentLayout.cshtml";
}

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>


        <div class="row">
            <div class="col-xl-12 col-sm-6 mb-3">
                <div class="card bg-dark o-hidden h-100 text-light">
                    <div class="card-header">
                        Ders planı
                    </div>
                    <div class="card-body badge-light">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Ders türü</th>
                                        <th scope="col">Kod</th>
                                        <th scope="col">Ad</th>
                                        <th scope="col">Dil</th>
                                        <th scope="col">T</th>
                                        <th scope="col">Kredi</th>
                                        <th scope="col">Akts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <td colspan="7" class="font-weight-bold">1. yarıyıl</td>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <td colspan="7" class="font-weight-bold">2. yarıyıl</td>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <td colspan="7" class="font-weight-bold">3. yarıyıl</td>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <td colspan="7" class="font-weight-bold">4. yarıyıl</td>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Zorunlu</td>
                                    <td>BM101</td>
                                    <td>Algoritma ve programlama</td>
                                    <td>Türkçe</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
