@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<Obs.WebUI.Models.StudentAddViewModel, Obs.WebUI.Models.StudentListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_TeacherLayout.cshtml";
}
<h1>Index</h1>